# Oracle DB 연결을 위한 정보
DB_USER = 
DB_PASSWORD =
DB_DSN =
DB_CONFIG_DIR =
DB_WALLET_LOCATION =
DB_WALLET_PASSWORD = 
DB_HOST = 
DB_SERVICE = 


SUPERSET_SECRET_KEY =

AIRFLOW_ADMIN_USER =
AIRFLOW_ADMIN_PASSWORD =
AIRFLOW_CORE_FERNET_KEY =

POSTGRES_PASSWORD = 
SUPERSET_DB_POSTGRES_PASSWORD =


# 개인 정보
MY_EMAIL = 
