# BASE_URL 정의. 수정 시 아래 Oracledb Wallet 주소도 함께 바꿔야 함
BASE_DIR = /opt/airflow/dags/apt-trade

# 시군구 코드 최신 파일
SGG_FILENAME = sgg_codes_260327.txt

# 아파트 실거래 API KEY 및 엔드포인트. 그리고 공공데이터포털의 시군구코드 엔드포인트도 있음. 두 엔드포인트 모두 같은 API KEY를 사용
API_KEY = 
API_URL = https://apis.data.go.kr/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade
SGG_API_URL = https://api.odcloud.kr/api/15123287/v1/uddi:b68902fa-d058-4a17-b188-ff46b7eaaac7
